apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: cloud-resource-operator
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/jkiely-tenant/cloud-resource-operator/cloud-resource-operator@sha256:fc192098edde4e47a0cb3cd887487829ab2d3979501cb13b5ffbf99043134787
        name: container-image
        resources: {}
status: {}
